/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
	===============================================
	Grid
	===============================================
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}

.container {
	padding-left: 30px;
	padding-right: 30px;
	width: 960px;
}

/*
	===============================================
	Clearfix	
	===============================================
*/

.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	clear: both;
	*zoom: 1;
}




body {
	background: rgb(255, 255, 255);
	font-family: arial, sans-serif;
	font-size: 13px;
}

a {
	text-decoration: none;
}

.logo	{
	display: block;
	margin: 135px auto 27px auto;
}


.search	{
	color: rgb(117, 117, 117);
	background: rgb(242, 242, 242);
	border: 1px solid rgb(242, 242, 242); 
	margin: 2px;
	padding: 5px 12px;
	line-height: 27px;
	font-weight: bold;
	border-radius: 2px;
}

.search:hover {
	color: rgb(34, 34, 34);
	border: 1px solid rgb(198, 198, 198);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

input {
	display: block;
	width: 584px;
	height: 44px;
	border: 1px solid rgb(230, 230, 230);
	box-shadow: 0 1px 1px rgba(178, 178, 178, 0.8 );
}

.search-div {
	position: relative;
	width: 584px;
	height: 44px;
	margin: 0 auto 30px auto;
}

.mic {
	position: absolute;
	top: 12px;
	right: 20px;
	height: 20px;
}

.main-container {
	margin: 0 auto;
}

.search-container {
	width: 269px;
	margin: 0 auto;
}

.header-links {
	float: right;
	margin: 16px 28px;
}

.header-links img {
	vertical-align: middle;
	margin-top: -1px;
}

.header-links button {
	margin-left: 6px;
	margin-right: 6px;
}

nav.header-links {
	height: 30px;
}

nav a {
	color: rgb(102, 102, 102);
	margin-left: 6px;
	margin-right: 6px;
}

nav a:hover {
	text-decoration: underline;
}

.signin {
	color: rgb(255, 255, 255);
	background: rgb(67, 135, 253);
	border: 1px solid rgb(67, 135, 253);
	border-radius: 2px;
	height: 30px;
	width: 69px;
	padding: 0 3px;
	font-weight: bold;
}
	

.options {
	height: 30px;
	padding: 7px;
}

footer {
	position: absolute;
	bottom: 0;
	background-color: rgb(242, 242, 242);
	padding: 14px 25px;
	width: 100%;
}

footer a {
	padding-left: 8px;
	padding-right: 8px;
}

.navfooter {
	position: relative;
}

.footer-left {
	position: absolute;
	right: 0;
}

.footer-right {
	position: absolute;
	left: 0;
}
